<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>mCrownMusic23</string>
	<key>CFBundleIdentifier</key>
	<string>com.mcrownmusic23</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>We need camera access for profile photos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need photo library access for profile photos.</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3827921422149204~6941995755</string>
</dict>
</plist>
